@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.main-container{
    width: 65%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
}
.message {
    margin-bottom: 1em;
    font-size: 0.8em;
}
.control-users-container{
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    width: auto;
}
.controler-box{
    width: 120px;
    height: 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.controler-container{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 120px;
}
#controler:hover{
    cursor: pointer;
}
#controler{
    border-radius: 75px;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.controler{
    border-color:lawngreen;
    border: 1px bold lawngreen;
    width: 75px;
    height: 75px;
    background-image: url("./assets/mic-logo.svg");
}

.controler_closed{
    background-color:#976ccc;
    width: 75px;
    height: 75px;
    background-image: url("./assets/mic-logo-off.svg");
}

.chat-icon{
    width: 60px;
    height: 60px;
    margin: auto;
}

.chat_closed{
    background-color:#976ccc;
    width: 75px;
    height: 75px;
    background-image: url("./assets/chat-square.svg");
}

.controler_waiting{
    border-radius: 75px;
    cursor: pointer;
    border: 5px bold ;
    border-color: rgb(252, 245, 188);
    width: 75px;
    height: 75px;
    background-image: url("./assets/mic-logo-off.svg");
}

.UsersDisplay{
    margin-left: 3em;
}

.UsersDisplay>span{
    font-size: 2em;
}

.user_name_item{
    padding-left: 1em;
    font-size: 1.3em;
    border-color: #976ccc;
    border-left: 3px solid #976ccc;
}
.video-container{
    display: flex;
    align-items: center ;
    width: 100%;
    height: 70vh;
    margin-bottom: 1em;
}

#localAudio{
    display: none;
}
#video{
    display: none;
}
#video-stream{
    height: 100%;
    width: 100%;
}
.no-stream{
    display: flex;
    color: whitesmoke;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#remoteAudio{
    display: inline;
}
#remoteAudio-container{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    flex-direction: row;
    justify-content: center;
}

.chat-container{
    background-color: rgba(25, 25, 25, 0.8);
    width: 25%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.chat-header{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 10%;
    width: 100%;
    border-bottom: 2px solid #976ccc ;
    background-color: rgba(30, 30, 30, 0.8);
}
.chat-header>span{
    font-size: 1.5em;
}
#message-writer{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}
.messages-container{
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    height: 82%;
}
.messages-container > span{
    font-weight: bold;
}
.messages-container::-webkit-scrollbar{
    display: none;
}
#message{
    width: 88%;
    color: white;
    padding-left: 8px;
    background-color: rgba(50, 50, 50, 0.8);
    border: 0px;
    border-bottom: 2px bold #976ccc;
    overflow-x: hidden;
    overflow-y: auto;

}
.chat{
    display: none;
}

#send{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(50, 50, 50, 0.8);
    border: 0px;
}
.send-ico{
    font-size: 4em;
    color: #976ccc;
    margin: auto;
    cursor: pointer;
}
.send-ico:hover{

    color: white;
}
.video-stream-cont{
    width: 85%;
}
.stream-video{
    visibility: hidden;
}
.loaded-stream-video{
    visibility: visible;
}

@media only screen and (max-width: 767px) {
    .chat-container {
        display: none;
    }

    .main-container {
        width: 90%;
        height: 95vh;
    }
    .chat{
        display: flex;
    }
}

/* Styles for devices with a minimum width of 768 pixels and a maximum width of 1023 pixels (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Your styles for tablets go here */
}