@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('/imageshttps://fons.googleapis.com/css2?family=Open+Sans&display=swap');


body {
  color: white;
  background-color: #121212;
  font-family: 'Open Sans', sans-serif;
}